
<% @order.errors.messages.each do |msg| %>
<div class="flash error">
       <%= msg[1].to_s[2..-3] %>
</div>
<% end %>

<table id="cart-detail" data-hook>
  <thead>
    <tr data-hook="cart_items_headers">
      <th class="cart-item-description-header" colspan="2">Name</th>
      <th class="cart-item-price-header">Price</th>
      <th class="cart-item-quantity-header">Qty</th>
      <th class="cart-item-total-header">Total</th>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
  </tbody>
  <%= render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
</table>